@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.woff);
}

@font-face {
    font-family: Lalezar;
    src: url(../fonts/Lalezar-Regular.woff);
}

@font-face {
    font-family: Lilita One;
    src: url(../fonts/LilitaOne-Regular.woff);
}