$text_pr: #000000;
$text_sc: #FF0000;
$text_white: #FFFFFF;
$text_about_title: #D62828;

$bg_pr: #000000;
$bg_sc: #FF0000;
$hero_text_red: #F42D2D;
$bg_input: #EDF2F4;
$bg_card: #EDF2F4;
$bg_card_item: #D9D9D9;
$bg_line: #FF0404;
$bg_cube: #003049;